.u-section-1 .u-sheet-1 {
  min-height: 201px;
}

.u-section-1 .u-text-1 {
  margin: 89px 0 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 1873px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 20px;
}.u-section-3 .u-sheet-1 {
  min-height: 492px;
}

.u-section-3 .u-text-1 {
  margin: 0 0 20px;
}.u-section-4 .u-sheet-1 {
  min-height: 162px;
}

.u-section-4 .u-text-1 {
  margin: 0 0 20px;
}.u-section-5 .u-sheet-1 {
  min-height: 510px;
}

.u-section-5 .u-text-1 {
  margin: 0 0 20px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-6 .u-sheet-1 {
  min-height: 259px;
}

.u-section-6 .u-text-1 {
  margin: 1px 0;
}.u-section-7 .u-sheet-1 {
  min-height: 424px;
}

.u-section-7 .u-gallery-1 {
  height: 423px;
  margin-top: 1px;
  margin-bottom: 1px;
  grid-gap: 17px 17px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-7 .u-gallery-1 {
    height: 349px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-7 .u-gallery-1 {
    height: 802px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1805px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1136px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 176px;
}

.u-section-8 .u-text-1 {
  margin: 34px 0 0;
}.u-section-9 .u-sheet-1 {
  min-height: 305px;
}

.u-section-9 .u-text-1 {
  margin: 1px 0;
}.u-section-10 .u-sheet-1 {
  min-height: 142px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}.u-section-11 .u-sheet-1 {
  min-height: 772px;
}

.u-section-11 .u-gallery-1 {
  height: 751px;
  margin-top: 1px;
  margin-bottom: 20px;
  grid-gap: 17px 17px;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-11 .u-gallery-1 {
    height: 619px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-11 .u-gallery-1 {
    height: 802px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-11 .u-gallery-1 {
    height: 1805px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-11 .u-gallery-1 {
    height: 1136px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 873px;
}

.u-section-12 .u-text-1 {
  margin: 3px 0;
}.u-section-13 .u-sheet-1 {
  min-height: 259px;
}

.u-section-13 .u-text-1 {
  margin: 1px 0;
}.u-section-14 .u-sheet-1 {
  min-height: 571px;
}

.u-section-14 .u-gallery-1 {
  height: 550px;
  margin-top: 1px;
  margin-bottom: 20px;
  grid-gap: 17px 17px;
}

.u-section-14 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-14 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-14 .u-gallery-1 {
    height: 454px;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-14 .u-gallery-1 {
    height: 802px;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-14 .u-gallery-1 {
    height: 1805px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-14 .u-gallery-1 {
    height: 1136px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 162px;
  margin-bottom: 0;
}

.u-section-15 .u-text-1 {
  margin: 0 0 20px;
}